////
/// Variáveis do site
/// Todas as variáveis do projeto estrão inclusas neste arquivo central.
////

/// Configurações Iniciais
$grid-active: true;

// Cores padrões do projeto NEXT
$white: #fff;
$black: #000;
$darkgray: #666;
$overlay: #999;
$light-background: #f0f0f0;
$darker-font: #333;
$button-light: #ccc;
$dark: #10212a;
$dark-font: #162d3a;
$light-font: #394f5c;
$yellow: #f1b603;
$yellow-light: #ffcf18;
$black-btn: #313131;
$light-btn: #ebebeb;
$light-gray: #e1e1e1;
$section-gray: #e8e8e8;
$gray-bg: #CCC;
$orange-color: #ff9f57;

// Cores relacionadas ao website
$site-main-color: #088FD3;

// Valores para resolução de breakpoints
$breakpoints: (
        'mobile' : (max-width: 768px),
        'tablet' : (max-width: 920px),
        'notebook' : (max-width: 1366px)
);

// Configurações de Fontes.
$rem-base: 14px;
$main-font: 'Open Sans', sans-serif;

// Fontes utilizadas em @font-face.
$font-faces: (
        'icofont': (
                'icofont' 400 normal,
        ),
);